/*노멀라이징*/

body,ul,li {
    margin:0;
    padding:0;
    list-style: none;
}

a {
    color:inherit;
    text-decoration: none;
}

/* 라이브러리 */

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float:right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.con {
    width:1150px;
    margin:0 auto;
}

.con-min-width {
    min-width: 1150px;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute-left {
    position: absolute;
    left:0;
}

.absolute-right {
    position: absolute;
    right:0;
}

.absolute-middle {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

.text-align-center {
    text-align: center;
}


/* 커스텀 */

h1 {
    display: none;
}

.top-bar {
    background-color: black;
}

.top-bar > .con > div > ul > li > a {
    display: block;
    color: white;
    font-size: 0.8rem;
    padding:3px 8px;
}

.top-bar > .con > div > ul > .my-shop-li > a::after {
    content: " ♥";
    color:red;
}

.con > .logo > img {
    display: block;
}
